/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */
/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: rgba(64, 109, 161, 0.8);
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;
  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;
  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;
  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;
  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;
  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;
  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;
  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;
  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  /** Added by Karło **/
  --ion-background-color: #1D2D44;
  --ion-text-color: #EAEFF5;
  --ion-tab-bar-background: #EAEFF5;
  --ion-tab-bar-color: #1D2D44;
  --ion-tab-bar-color-selected: var(--ion-color-esn-cyan);
  --ion-font-family: Lato;
  /** Danio - Biały - Opacity **/
  --ion-color-bialyOpacity: rgba(234, 239, 245, 0.3);
  /**custom**/
  --ion-color-esn-dark-blue: #2e3192;
  --ion-color-esn-cyan: #00aeef;
  /** CUSTOM FINAL V. 1.1 **/
  --dark-black: #1D2D44;
  --light-white: #EAEFF5;
}

/** COLOR - WHITE OPACITY **/
:root {
  --ion-color-whiteOpacity: rgba(234, 239, 245, 0);
  --ion-color-whiteOpacity-rgb: rgba(234, 239, 245, 0.1);
  --ion-color-whiteOpacity-contrast: rgba(234, 239, 245, 1);
  --ion-color-whiteOpacity-contrast-rgb: rgba(234, 239, 245, 0.1);
  --ion-color-whiteOpacity-shade: rgba(234, 239, 245, 1);
  --ion-color-whiteOpacity-tint: rgba(234, 239, 245, 1);
}

.ion-color-whiteOpacity {
  --ion-color-base: var(--ion-color-whiteOpacity);
  --ion-color-base-rgb: var(--ion-color-whiteOpacity-rgb);
  --ion-color-contrast: var(--ion-color-whiteOpacity-contrast);
  --ion-color-contrast-rgb: var(--ion-color-whiteOpacity-contrast-rgb);
  --ion-color-shade: var(--ion-color-whiteOpacity-shade);
  --ion-color-tint: var(--ion-color-whiteOpacity-tint);
}

/** COLOR BLACK **/
:root {
  --ion-color-blackNormal: rgba(29, 45, 68, 1);
  --ion-color-blackNormal-rgb: rgba(29, 45, 68, 0);
  --ion-color-blackNormal-contrast: rgba(29, 45, 68, 0);
  --ion-color-blackNormal-contrast-rgb: rgba(29, 45, 68, 0);
  --ion-color-blackNormal-shade: rgba(29, 45, 68, 0);
  --ion-color-blackNormal-tint: rgba(29, 45, 68, 0);
}

.ion-color-blackNormal {
  --ion-color-base: var(--ion-color-blackNormal);
  --ion-color-base-rgb: var(--ion-color-blackNormal-rgb);
  --ion-color-contrast: var(--ion-color-blackNormal-contrast);
  --ion-color-contrast-rgb: var(--ion-color-blackNormal-contrast-rgb);
  --ion-color-shade: var(--ion-color-blackNormal-shade);
  --ion-color-tint: var(--ion-color-blackNormal-tint);
}
