.event-details-container {
    text-align: center;
    padding: 0 5%;
}

.event-details-photo {
    border-radius: 10px;
    border: solid 3px #EAEFF5;
}

.event-details-divider{
    color: #EAEFF5;
    background-color: #EAEFF5;
    height: 1px;
}