.event-details-container {
    text-align: center;
    padding: 0 5%;
}

.event-details-photo {
    border-radius: 10px;
    border: solid 3px #eaeff5;
}

.event-details-divider {
    color: #eaeff5;
    background-color: #eaeff5;
    height: 1px;
}
